<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TeamSchedule| 404</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <style>
    .rails-default-error-page{
      background-color: #d6dfd6;
      text-align: center;
      padding: 64px 0 24px;
      min-height: 100vh;
    }
    .rails-default-error-page .dialog{
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      font-size: 14px;
    }
    .rails-default-error-page .dialog div h1{
      font-size: 88px;
      color: #1d945d;
      font-weight: bold;
      font-family: 'Josefin Sans', sans-serif;
      font-style: italic;
      letter-spacing: 4px;
      margin: 0 0 20px;
    }
    .rails-default-error-page .dialog div p{
      font-size: 20px;
      color: #1d945d;
      margin-bottom: 72px;
    }
    .rails-default-error-page .dialog .link_ttl{
      background-color: #1d945d;
      padding: 2px 8px;
      border-radius: 8px;
      color: #fff;
      font-weight: bold;
      max-width: 480px;
      margin: 0 auto;
    }
    .rails-default-error-page .dialog ul{
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 8px 0 0;
    }
    .rails-default-error-page .dialog ul li{
      font-size: 14px;
      margin: 0 24px;
    }
    .rails-default-error-page .dialog ul li a{
      color: #3a604d;
      font-weight: bold;
      display: block;
      border-bottom: 2px solid #1d945d;
      padding: 2px;
      margin: 12px 0;
    }
  </style>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>Oops...!</h1>
      <p>お探しのページは見つかりませんでした。</p>
    </div>
    <p class="link_ttl">以下のリンク候補から選択してください</p>
    <% if user_signed_in? %>
    <ul>
      <li>
        <%= link_to "プロジェクト一覧", projects_path, data: {"turbolinks"=>false} %>
        <%= link_to "プロジェクト作成", new_project_path, data: {"turbolinks"=>false} %>
      </li>
      <li>
        <%= link_to "スケジュール一覧", schedules_path, data: {"turbolinks"=>false} %>
        <%= link_to "スケジュール作成", new_schedule_path, data: {"turbolinks"=>false} %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id), data: {"turbolinks"=>false} %>
        <%= link_to "ユーザー一覧", users_path, data: {"turbolinks"=>false} %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks"=>false} %>
      </li>
    </ul>
    <% else %>
    <ul>
      <li>
        <%= link_to "ログイン", new_user_session_path, data: {"turbolinks"=>false} %>
      </li>
      <li>
        <%= link_to "新規会員登録", new_user_registration_path, data: {"turbolinks"=>false} %>
      </li>
      <li>
        <%= link_to "パスワードの再設定", edit_user_password_path, data: {"turbolinks"=>false} %>
      </li>
    </ul>
    <% end %>
  </div>
</body>
</html>
