<%= render "shared/header"%>

<main class="_schedule _form">
  <div class="ttl">
    <%= link_to "戻る", request.referer, class: "return_link" %>
    <h4>スケジュール作成</h4>
  </div>
  <div class="schedule_form">
  <% unless Project.count == 0 %>
    <%= render "form"%>
  <% else %>
    <div class="non_form">
      <h4>プロジェクトが未作成です</h4>
      <p>まずはプロジェクトを作成しましょう！</p>
      <%= link_to "プロジェクト作成", new_project_path %>
    </div>
  <% end %>
  </div>
</main>

<%= render "shared/footer"%>