
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<header>
  <h2><%= link_to image_tag("team_schedule_logo.png") , "/", class:"header_logo" %></h2>
  <% if user_signed_in? %>
    <div class="hamburger_menu">
      <input type="checkbox" id="menu_btn_check">
      <label for="menu_btn_check" class="menu_btn"><span></span><span></span><span></span></label>
      <nav class="menu_content">
        <%= link_to "プロジェクト", projects_path, class: "header_list flex", id: "nav04" %>
        <%= link_to "スケジュール", schedules_path, class: "header_list flex", id: "nav05" %>
        <%= link_to "マイページ", user_path(current_user.id), class: "header_list flex", id: "nav06" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_list _logout flex" %>
      </nav>
    </div>
  <% end %>
  <nav>
  <% if user_signed_in? %>
    <%= link_to "プロジェクト", projects_path, class: "header_list flex s-none", id: "nav01" %>
    <%= link_to "スケジュール", schedules_path, class: "header_list flex s-none", id: "nav02" %>
    <%= link_to "マイページ", user_path(current_user.id), class: "header_list flex s-none", id: "nav03" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_list _logout flex s-none" %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class: "header_list flex" %>
  <% end %>
  </nav>
</header>