<%= render "shared/header"%>
<main class="_project">
  <div class="search_box">
    <div class="ttl">
    <p class="project_acco_btn none s-block">検索する<span></span></p>
    <%= search_form_for @q do |f| %>
      <div class="search_input">
        <%= f.label :users_id_eq, "ユーザー名を選択" %><br>
        <div class="search_input_list">
          <%= f.collection_select :users_id_eq, User.all, :id, :nickname, include_blank: '指定なし' %>
        </div>
      </div>
      <div class="search_input">
        <%= f.label :keywords, "キーワードを入力" %><br>
        <div class="search_input_keyword">
        <%= f.text_field :keywords, value: params[:q]&.dig(:keywords) %>
        </div>
      </div>
      <div class="search_submit">
        <%= f.submit "検索" %> 
      </div>
    <% end %>
    <%= link_to "プロジェクト作成", new_project_path, class: "link_new" %>
    </div>
  </div>
  <div class="project_all">
  <ul class="project_phase_list">
    <li id="phase_all" class="phase_btn">全て</li>
    <li id="phase_after" class="phase_btn">今後の予定</li>
    <li id="phase_now" class="phase_btn">進行中</li>
    <li id="phase_before" class="phase_btn">FIX</li>
  </ul>
    <section class="project_box _after none l-block" id="phase_after_sec">
      <h4>今後の予定<span><%= @project_after.count %></span></h4>
      <ul>
      <% @project_after.each do |project| %>
        <li class="">
          <%= link_to project_path(project.id) do %>
            <% if project.member_flag == 1 %>
              <div class="member_flag">メンバー募集中</div>
            <% end %>
            <h5><%= project.name %></h5>
            <p><%= project.project_start %> 〜 <%= project.project_end %></p>
            <div class="project_member">
            <% if project.users.count < 7 %>
              <% project.users.each do |member| %>
              <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %><span><%= member.nickname %></span></div>
              <% end %>
            <% elsif project.users.count >= 7 %>
              <% project.users.first(6).each do |member| %>
              <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %><span><%= member.nickname %></span></div>
              <% end %>
              <p>and<br>more.</p>
            <% end %>
            </div>
            <% end %>
        </li>
      <% end %>
      </ul>
    </section>
    <section class="project_box _now none l-block" id="phase_now_sec">
      <h4>進行中<span><%= @project_now.count %></span></h4>
      <ul>
      <% @project_now.each do |project| %>
        <li class="">
          <%= link_to project_path(project.id) do %>
            <% if project.member_flag == 1 %>
              <div class="member_flag">メンバー募集中</div>
            <% end %>
            <h5><%= project.name %></h5>
            <p><%= project.project_start %> 〜 <%= project.project_end %></p>
            <div class="project_member">
            <% if project.users.count < 7 %>
              <% project.users.each do |member| %>
              <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %><span><%= member.nickname %></span></div>
              <% end %>
            <% elsif project.users.count >= 7 %>
              <% project.users.first(6).each do |member| %>
              <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %><span><%= member.nickname %></span></div>
              <% end %>
              <p>and<br>more.</p>
            <% end %>
            </div>
            <% end %>
        </li>
      <% end %>
      </ul>
    </section>
    <section class="project_box _before none l-block" id="phase_before_sec">
      <h4>FIX<span><%= @project_before.count %></span></h4>
      <ul>
      <% @project_before.each do |project| %>
        <li class="">
          <%= link_to project_path(project.id) do %>
            <% if project.member_flag == 1 %>
              <div class="member_flag">メンバー募集中</div>
            <% end %>
            <h5><%= project.name %></h5>
            <p><%= project.project_start %> 〜 <%= project.project_end %></p>
            <div class="project_member">
            <% if project.users.count < 7 %>
              <% project.users.each do |member| %>
              <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %><span><%= member.nickname %></span></div>
              <% end %>
            <% elsif project.users.count >= 7 %>
              <% project.users.first(6).each do |member| %>
              <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %><span><%= member.nickname %></span></div>
              <% end %>
              <p>and<br>more.</p>
            <% end %>
            </div>
            
            <% end %>
        </li>
      <% end %>
      </ul>
    </section>
  </div>

</main>
<%= render "shared/footer"%>