<%= render "shared/header"%>
<main class="_project">
  <h2 class="f-en">PROJECTS</h2>
  <div class="project_all">
    <section class="project_box _after">
      <h4>今後の予定<span>2</span></h4>
      <ul>
        <li class="member_wanted">
        <%= link_to "#" do %>
          <h5>プロジェクト1</h5>
          <p>2022-10-10 〜 2020-11-01</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト2</h5>
          <p>2022-10-10 〜 2020-11-01</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
      </ul>
    </section>
    <section class="project_box _now">
      <h4>進行中<span>6</span></h4>
      <ul>
        <li>
        <%= link_to "#" do %>
          <h5>IY様：9月キャッシュバックappCP</h5>
          <p>2022-09-10 〜 2020-10-01</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト12</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト13</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト14</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト15</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト16</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト17</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト18</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト19</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト20</h5>
          <p>2022-09-20 〜 2020-10-11</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
      </ul>
    </section>
    <section class="project_box _before">
      <h4>FIX<span>10</span></h4>
      <ul>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト111</h5>
          <p>2022-09-08 〜 2020-09-21</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
        <li>
        <%= link_to "#" do %>
          <h5>プロジェクト112</h5>
          <p>2022-09-01 〜 2020-09-18</p>
          <div class="project_member">
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
            <%= image_tag "default_profile.png" %>
          </div>
          <% end %>
        </li>
      </ul>
    </section>
  </div>

</main>
<%= render "shared/footer"%>