<%= render "shared/header"%>
<main class="_project _form">
  <div class="project_form">
    <h3>プロジェクト新規作成</h3>
    <%= form_with model: @project, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <p class="_required">プロジェクト名</p><br />
        <%= f.text_field :name, autofocus: true, class: "text_field" %>
      </div>

      <div class="field">
        <p class="_any">プロジェクト内容</p><br />
        <%= f.text_area :about, class: "text_field _about", maxlength: 800, size: "20x6" %>
      </div>

      <div class="field file_upload">
        <p class="_any">添付ファイル</p><br />
        <div class="file_btn">
          <%= f.file_field :file, id:"project_files", name: "project[files][]", data: {index: 0} %>
        </div>
        <div class="file_btn">
          <%= f.file_field :file, id:"project_files", name: "project[files][]", data: {index: 0} %>
        </div>
        <div class="file_btn">
          <%= f.file_field :file, id:"project_files", name: "project[files][]", data: {index: 0} %>
        </div>
        <div class="file_btn">
          <%= f.file_field :file, id:"project_files", name: "project[files][]", data: {index: 0} %>
        </div>
        <div class="file_btn">
          <%= f.file_field :file, id:"project_files", name: "project[files][]", data: {index: 0} %>
        </div>
      </div>

      <div class="field">
        <p class="_required">プロジェクト開始日</p><br />
        <%= f.date_field :project_start, id: "project_start" %>
      </div>

      <div class="field">
        <p class="_required">プロジェクトFIX予定日</p><br />
        <%= f.date_field :project_end, id: "project_end" %>
      </div>

      <div class="field">
        <p class="_any">メンバーを選択</p><br />

        <ul class="checks_field">
          <% User.where.not(id: current_user.id).each do |user| %>
          <li>
            <label>
              <input name="project[user_ids][]" type="checkbox" value=<%= user.id %>>
              <span class="check_square"></span><span class="check_text"><%= user.nickname %></span>
            </label>
          </li>
          <% end %>
        </ul>
        <input type="hidden" name="project[user_ids][]" value=<%= current_user.id %>>
        
      </div>

      <div class="field">
        <p class="_any">メンバー募集フラグ</p><br />
        <div class="flag_box">
          <div id="flag_field"></div>
          <%= f.check_box :member_flag %>
        </div>
      </div>

      <div class="btn1 actions">
        <%= f.submit "上記の内容で作成する" %>
      </div>
    <% end %>
  </div>
</main>
<%= render "shared/footer"%>