<%= render "shares/header"%>

<main class="_project">
  <div class="ttl">
    <%= link_to "戻る", request.referer, class: "return_link project_btn", data: {"turbolinks"=>false} %>
    <h3><%= @project.name %></h3>
      <% if current_user.id == @project.project_users.first.user_id %>
      <div class="link_edit project_btn">
        <input type="checkbox" id="edit_btn_check" class="none">
        <label for="edit_btn_check" class="edit_btn none m-ib"><span></span><span></span><span></span></label>
        <ul class="edit_links none">
          <li><%= link_to "削除", project_path(@project.id), method: :delete, data: {"turbolinks"=>false} %></li>
          <li><%= link_to "編集", edit_project_path(@project.id), data: {"turbolinks"=>false} %></li>
        </ul>
      </div>
      <ul class="edit_links flex m-none">
          <li><%= link_to "削除", project_path(@project.id), method: :delete, class: 'project_btn', data: {"turbolinks"=>false} %></li>
          <li><%= link_to "編集", edit_project_path(@project.id), class: 'project_btn', data: {"turbolinks"=>false} %></li>
        </ul>
      <% end %>
  </div>
  <section class="wrapper _project_about">
    <div class="project_date">
      <p><span>開始日</span><%= @project.project_start %></p>
      <p><span>FIX予定日</span><%= @project.project_end %></p>
      <div class="project_author">
        <p>最終更新日：<%= @project.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
        <% @project.users.first(1).each do |member| %>
          <p>作成者：<%= member.nickname %></p>
        <% end %>
      </div>
      <% if @project.project_end >= Date.today %>
        <%= link_to new_schedule_path, class: "project_schedule", data: {"turbolinks"=>false} do %>
          <p>このプロジェクトの<br>詳細スケジュールを設定する</p>
        <% end %>
      <% end %>
    </div>

    <div class="project_about">
      <p><%= safe_join(@project.about.split("\n"),tag(:br)) %><p>
    </div>

    <ul class="project_file">
    <% @project.files.each do |file| %>
      <% if file.representable? %>
      <li>
        <%= link_to rails_blob_path(file, disposition: "attachment"), data: {"turbolinks"=>false} do %>
          <%= image_tag file.representation(resize_to_limit: [400, 200]) %>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to file.filename, rails_blob_path(file, disposition: "attachment") %>
      </li>
      <% end %>
    <% end %>
    </ul>

    <div class="project_remark">
      <dl class="project_member">
      <dt><span>プロジェクトメンバー</span></dt>
      <% @project.users.each do |member| %>
      <dd>
        <div class="_image"><%= image_tag member.profile_image if member.profile_image.attached? %></div>
        <%= link_to member.nickname, user_path(member.id), data: {"turbolinks"=>false} %>
      </dd>
      <% end %>
    </dl>
    <dl class="project_hour">
      <dt><span>プロジェクト工数</span></dt>
      <dd>
        <h5>合計</h5>
        <p class="f-en"><%= @share_designer + @share_engineer + @sum %><small>day</small></p>
      </dd>
      <dd>
        <h5>デザイナー工数</h5>
        <p class="f-en"><%= @share_designer %><small>day</small></p>
      </dd>
      <dd>
        <h5>エンジニア工数</h5>
        <p class="f-en"><%= @share_engineer %><small>day</small></p>
      </dd>
      <dd>
        <h5>進捗管理(15%)</h5>
        <p class="f-en"><%= @sum %><small>day</small></p>
      </dd>
    </dl>
    </div>

    <section class="comment_box">
      <h3>コメント欄</h3>
      <div id="comment_form">
        <%= render "comments/new" %>
      </div>
      <ul class="comment_list">
      <% @comments.each do |comment| %>
        <li>
          <div class="comment_user">
            <p>from: <%= comment.user.nickname %><span><%= comment.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></span></p>
          </div>
          <p class="comment_text"><%= comment.text %></p>

          <% if current_user.id == comment.user_id %>
          <div class="comment_edit_box">
            <input type="checkbox" id="comment_edit_check" class="none">
            <label for="comment_edit_check" class="edit_btn none m-ib"><span></span><span></span><span></span></label>
            <ul class="comment_edit">
              <li><%= link_to "編集", edit_project_comment_path(comment.project_id, comment.id), remote: true %></li>
              <li><%= link_to "削除", project_comment_path(comment.project_id, comment.id), method: :delete, data: {"turbolinks"=>false} %></li>
            </ul>
          </div>
          <% end %>

        </li>
        <% end %>
      </ul>
    </section>
  </section>
</main>

<%= render "shared/footer"%>